<div id="about">
		
  <p>Established in 1992 Bickfords Lawyers is an Australian family owned and operated law firm that has proven itself as a real alternative to the large corporate law firms.</p>

  <p>We have the expert legal advice and experience to help you through what can be an overwhelming and stressful experience.  Our lawyers will guide and support you through the intricacies of the law so that you can make the best decisions for you, your family and business.</p>

  <p>Bickfords is dedicated to delivering the best outcome for each client.  It is our ethos to create return customers by building ongoing relationships with our clients by meeting and exceeding their needs.  We pride ourselves on setting and meeting the highest standards in the way we operate whilst conscious of our position of trust.</p>

  <p>Call us to have a confidential discussion about how we can help you with your matter.</p>

</div>