<div id="section_a">
  <h1 style="margin-top:15px; margin-bottom:15px; font-size:22pt">Contact Information</h1>

  <table style="width:40%">
    <tr>
      <td>Phone:</td>
      <td>07 3217 8600</td> 
    </tr>
    <tr>
  	 <td>Fax:</td>
    <td>07 3217 8699</td>
    </tr>
    <tr>
     <td>Address:</td>
     <td>Level 1</td>
    </tr>
    <tr>
  	 <td></td>
      <td>611 Coronation Drive</td>
    </tr>
    <tr>
  	  <td></td>
      <td>Toowong, QLD 4066</td> 
    </tr>
    <tr>
      <td>Post:</td>
      <td>PO Box 504<td/>
    <tr>
 	    <td></td>
      <td>Toowong, QLD 4066</td> 
    </tr>
    <tr>
  	  <td>Email:</td>
 	    <td>reception@bickfords.com.au</td>
    <tr>
      <td>Hours:</td>
      <td>Mon - Fri</td>
   <tr>
      <td></td>
      <td>9:00am - 5:00pm</td>
  </table>
</div>

<div id="section_b">
<P style="color: red">BLURB ABOUT WALK INS AND COMPLIMENTARY CONSULTATION FOR ADVICE</P>
</div>