<div id="people">

	<a href="https://au.linkedin.com/pub/john-bickford/23/800/b29" target="_blank">John Bickford</a>
	<a href="https://au.linkedin.com/pub/carolyn-woolley/b/8bb/a45" target="_blank">Carolyn Woolley</a>
	
</div>